<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.starterkit.bartoszzychal.library.LibraryApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.starterkit.bartoszzychal.library.perspectives.Perspective"
            id="Library.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.starterkit.bartoszzychal.library.views.BooksListView"
            id="Library.BooksList"
            name="BooksList"
            restorable="true">
      </view>
      <view
            class="com.starterkit.bartoszzychal.library.views.BookDetails"
            id="Library.BookDetails"
            name="BookDetails"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="Library.perspective">
         <view
               id="Library.BookDetails"
               minimized="false"
               ratio="0.33"
               relationship="right"
               relative="Library.BooksList">
         </view>
         <view
               id="Library.BooksList"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
            <command
                  commandId="Library.addBook"
                  label="Add book"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.starterkit.bartoszzychal.library.handlers.AddBookHandler"
            commandId="Library.addBook">
      </handler>
   </extension>

</plugin>
